{% extends 'base.html.twig' %}

{% block title %}New PersonLikeProduct{% endblock %}

{% block body %}
    <h1>Create new PersonLikeProduct</h1>

    {{ include('person_like_product/_form.html.twig') }}

    <a href="{{ path('person_like_product') }}">back to list</a>
{% endblock %}
